<section class="contact full-screen d-lg-flex justify-content-center align-items-center">
    <div class="contact-form">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="contact-form">
                    <h2 class="mb-4">Interested to work together? Let's talk</h2>
                    
    

                    <form action="" method="get">
                        <div class="row">
                        <div class="col-lg-6 col-12">
                            <input type="text" class="form-control" name="name" placeholder="Your Name" id="name">
                        </div>

                        <div class="col-lg-6 col-12">
                            <input type="email" class="form-control" name="email" placeholder="Email" id="email">
                        </div>

                        <div class="col-12">
                            <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message"></textarea>
                        </div>

                        <div class="ml-lg-auto col-lg-5 col-12">
                            <input type="submit" class="form-control submit-btn" value="Send Button">
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <img src="images/project/iconTG.png" alt="icon" align="left"/><h5>@Sob1rov1ch_1123</h5>
        <br>
        <img src="/images/project/git.svg" alt="icon" style="width:55px;height:56px;" align="left"/><a  href="https://github.com/sunnatsavriyev"><h5>GitHub</h5></a>       
        <br>
        <img src="/images/project/iconTL.png" alt="icon" align="left"/><h5>(93)-109-05-08</h5>
    </div>
</section>